<!DOCTYPE html>
<html lang="es">
    <header>
        <title>Detalles del Cliente</title>
        <link rel="stylesheet" href="styles.css">
    </header>
    <body>
        <section>
            <div class="box">
                <h1>Detalles del Cliente</h1><br><br>
                <form id="form_cliente" action="">
                    <label for="nombre">Nombre:</label><br><br>
                    <input class="form-control"  type="text" id="nombre" name="nombre"><br><br>
                    <label  for="email">Email:</label><br><br>
                    <input class="form-control"  type="email" id="email" name="email">
                </form>
            </div>                
        <section>
            <script type="text/javascript" src="get_cliente.js"></script>
            <script async>
            document.body.onload = get_Cliente();
            </script>
    </body>
</html>