<!DOCTYPE html>
<html lang= "es">
    <header>
        <title>Clientes</title>
        <link rel="stylesheet" href="styles.css">
    </header>
    <body>
        <section>
            <div class="box">
                <h1>Lista de Clientes</h1><br><br>
                <div id="main_container">
                    <table id = "tabla_clientes">
                        <thead id = "thead_clientes">
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Email</th>
                                <th>Detalles</th>
                                <th>Actualizar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">

                        </tbody>
                    </table>
                </div><br><br>
                <div id="button_container">
                    <a href="post_cliente.html"><input type="button" class="button" value="Agregar cliente"></a>
                </div>
            </div>
        </section>
            <script src="get_clientes.js"></script> 
            <script>
                document.body.onload = get_Clientes();
            </script>
    </body>
</html>