<!DOCTYPE html>
<html lang="es">
    <body>
        <h1>Agregar cliente</h1>
        <div class="container">
            <form id="form_cliente" action="">
                <label for="nombre">Nombre:</label>
                <br>
                <input type="text" id="nombre" name="nombre"/>
                <br>
                <label for="email">Email:</label>
                <br>
                <input type="email" id="email" name="email"/>
                <br>
                <br>
                <input type="button" value="Agregar" onclick="postCliente()">
            </form>
        </div>
        <script type="text/javascript" src="../static/js/post_cliente.js"></script>
    </body>
</html>